@media(max-width: 1440px) {
    .container--contact h3,
    .container--contact-active h3 {
        font-size: 2.6rem;
    }
    .container--contact ul,
    .container--contact-active ul {
        left: 45%; 
        top: 58%;
    }

    .container--contact h4,
    .container--contact-active h4 {
        left: 48%
    }

}

@media(max-width: 1280px)  {
    .container--contact h4,
    .container--contact-active h4 {
        left: 45%;
        font-size: 2.5rem;
    }

    .container--contact ul,
    .container--contact-active ul {
        left: 40%; 
        top: 58%;
    }

    .container--contact-active {
        display: none;
    }
}

@media(max-width: 1024px) {
    .container--contact h3,
    .container--contact-active h3 {
        font-size: 2.6rem;
    }
    .container--contact ul,
    .container--contact-active ul {
        gap: 2px;
        left: 45%; 
        top: 58%;
    }

    .container--contact h4,
    .container--contact-active h4 {
        font-size: 1.8rem;
        top: 40%;
        left: 50%;
    }
    .container--contact ul img,
    .container--contact-active ul img {
        width: 75%;
    }
}

@media(max-width: 768px) {

    .container--contact h3,
    .container--contact-active h3 {
        font-size: 2rem;
    }

    .container--contact ul,
    .container--contact-active ul {
        gap: 1px;
        left: 45%; 
        top: 58%;
    }

    .container--contact h4,
    .container--contact-active h4 {
        font-size: 1.3rem;
    }

    .container--contact ul img,
    .container--contact-active ul img {
        width: 70%;
    }
}

@media(max-width: 670px) {
    .content--contact {
        width: 80%;
    }

    .container--contact h3,
    .container--contact-active h3 {
        font-size: 1.7rem;
    }

    .container--contact h4,
    .container--contact-active h4 {
        font-size: 1.5rem;
        left: 50%;
    }

    .container--contact ul,
    .container--contact-active ul {
        left: 40%;
    }
    
}

@media(max-width: 500px) {
    .container--contact h3,
    .container--contact-active h3 {
        font-size: 1.4rem;
    }

    .container--contact h4,
    .container--contact-active h4 {
        font-size: 1.1rem;
        left: 47%;
    }
}

@media(max-width: 428px) {
    .container--contact h3,
    .container--contact-active h3 {
        font-size: 1.2rem;
    }

    .container--contact h4,
    .container--contact-active h4 {
        font-size: 1rem;
        left: 47%;
    }
}

@media(max-width: 428px) {
    .container--contact h3,
    .container--contact-active h3 {
        font-size: 1.2rem;
    }

    .container--contact h4,
    .container--contact-active h4 {
        font-size: 1rem;
        left: 47%;
    }
}

@media(max-width: 375px) {
    .content--contact {
        width: 90%;
    }

    .container--contact h3,
    .container--contact-active h3 {
        font-size: 1rem;
    }

    .container--contact h4,
    .container--contact-active h4 {
        font-size: .8rem;
        left: 52%;
    }
}